/* .cartContainer {
    display: flex;
    flex-direction: row;
    /* min-height: 80vh; */


.cartContainer h1 {
    margin-top: 120px;
    text-align: center;
}

#cart {
    min-height: 70vh;
}

.cart {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.itemsInCart {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 20px;
    justify-content: space-between;
}

#cartInfo {
    text-align: center;
}

#cartInfo button {
    margin: 10px;
}

.emptyCart {
    text-align: center;
}

.emptyCart .btn a {
    color: #fff;
}

.pagoET {
    text-align: center;
}

.pagoMP {
    text-align: center;
}

.btn-cancelar {
    margin-left: 20px;
}

@media only screen and (max-width: 480px) {
    
    .cart {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .itemsInCart {
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }

    .formInCart {
        display: flex;
        width: 90%;
        flex-direction: column;
        justify-content: center;
        margin: 20px auto 40px;
    }

}