.home {
    text-align: center;
}

.imgContainerPortada {
    margin-top: 110px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.l {
    display: flex;
    flex-direction: column;
    /* row-gap: 20px; */
}

.b {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.imgContainerPortada img {
    height: 100px;
}

.nuevosIngresos { 
    display: flex;
    flex-direction: row;
    justify-content: center;
}