.home {
    text-align: center;
}

.l {
    display: flex;
    flex-direction: column;
}

.b {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.nuevosIngresos { 
    display: flex;
    flex-direction: row;
    justify-content: center;
}

