.formUpload {
    margin: auto;
    padding: 10px;
    width: 350px;
}

.radio {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.radio input {
    margin-left: 10px;
    margin-right: 10px;
}

.talle {
    margin-bottom: 15px;
}

.talle input {
    margin-left: 15px;
    margin-right: 5px;
}

.talle div {
    margin-top: 10px;
}

.btnForm {
    margin-top: 15px;
}

.colorShow {
    width: 20px;
    height: 15px;
    margin: 10px;
}

.coloresShow {
    display: flex;
    flex-direction: row;
}

.stockTalle {
    width: 100px;
}

.colores {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.colores input {
    margin-top: 10px;
}

.colores button {
    margin-top: 10px;
}

.cargando {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 50px;
    z-index: 1002
}

.cargando p {
    margin: 25% auto;
    color: #fff;
}

.cargado {
    position: fixed;
    top: 25%;
    left: 25%;
    width: 50vw;
    height: 50vh;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 50px;
    z-index: 1002
}

.cargado p {
    margin: 20% auto;
    color: #fff;
}

.cerrar {
    color: #fff;
    position: relative;
    left: 45%;
}
