.formUpload {
    margin: auto;
    padding: 10px;
    width: 350px;
}

.radio {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.radio input {
    margin-left: 10px;
    margin-right: 10px;
}
