.itemCart {
    text-align: center;
}

.itemCartImg img {
    width: 300px;
}

.colorDivItemCart {
    width: 45px;
    height: 25px;
    border: 1px solid black;
    margin: 0 auto;
}

@media only screen and (max-width: 480px) {

    .itemCartImg img {
        width: 280px;
    }

}