.itemDetailsContainer {
    height: 100vh;
}

.itemDetails {
    margin-top: 120px;
    margin-bottom: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.itemDetailInfo {
    width: 650px;
}

.colorBtnItemDetails {
    width: 45px;
    height: 25px;
    border: none;
    margin-right: 20px; 
}

#coloresDetailsContainer {
    margin-bottom: 20px;
}
