.itemDetailsContainer {
    height: 100vh;
}

.itemDetails {
    margin-top: 120px;
    margin-bottom: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.itemDetailInfo {
    width: 650px;
}

.colorBtnItemDetails {
    width: 45px;
    height: 25px;
    border: 1px solid black;
    margin-right: 20px; 
    cursor: pointer;
}

#coloresDetailsContainer {
    margin-bottom: 20px;
}

.talleSelection {
    display: flex;
    flex-direction: row;
}

.tallesDetails {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    border: 1px solid black;
    width: 50px;
    height: 30px;
    background: white;
    margin: 10px;
    cursor: pointer;
}

.tallesDetails:hover {
    background-color: #FAF7E6;
}

.seleccionado {
    background-color: #FAF7E6;
}

@media only screen and (max-width: 480px) {

    .itemDetailsContainer {
        height: auto;
    }

    .itemDetails {
        flex-direction: column;
    }

    .itemDetailInfo {
        width: 80%;
        text-align: center;
    }

    .colorBtnItemDetails {
        margin: auto;
    }

}