.inConst {
    background-color: black;
    display: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1500;
}

.titleInConst {
    position: absolute;
    top: 50%;
    left: 40%;
    color: #fff;
    text-align: center;
}