#contactoForm {
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 480px) {

    #contactoForm {
        margin-top: 50px;
    }
}