.filtrosTienda {
    margin: 0 auto 30px;
    padding-top: 20px;
    border-bottom: 1px solid #616059;
    width: 70%;
}

.filtrosItems {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    height: 50px;
    font-weight: 600;
}

.itemFiltro {
    cursor: pointer;
    width: 200px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
}

.itemFiltro-active {
    background-color: #E0DECE;
    box-shadow: -7px 9px 9px 0px #C7C5B7;
}