.login {
  margin-top: 120px;
  text-align: center;
}

.logInContainer {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.formLogIn {
    display: flex;
    width: 250px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }

 .formLogIn label {
    display: block;
    margin-bottom: 10px;
    color: #6B6A63;
  }

.formLogIn input {
    display: block;
    width: 100%;
    border: 2px solid #6B6A63;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
  }

.formLogIn button {
    margin-top: 10px;
    background-color: #6B6A63;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }

.formLogIn p:hover {
    text-decoration-line: underline;
    cursor: pointer;
  }